:root{
    --bg1: #0d1b2a;
    --bg2: #1b263b;
    --bg3: #415a77;
    --bg4: #778da9;
    --bg5: #e0e1dd;
    --yellow: #f1fa8c;
    --purple: #bd93f9;
    --cyan: #8be9fd;
    --pink: #ff79c6;
    --red: #ff5555;
    --green: #50fa7b;
    --orange: #ff8800;
    --blue: #0f5bff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins;
}

html{
    scroll-behavior: smooth;
}

body{    
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: var(--bg2);
}

a,p,h1,h2,h5{
    color: var(--bg5);
}

h5{
    font-size: 3rem;
}

span{
    color: var(--bg3);
}

.yellow{
    color: var(--yellow);
}

.pink{
    color: var(--pink);
}

.red{
    color: var(--red);
}

.grey{
    color: var(--bg4);
}

.purple{
    color: var(--purple);
}

.cyan{
    color: var(--cyan);
}

.green{
    color: var(--green);
}

.orange{
    color: var(--orange);
}

.blue{
    color: var(--blue);
}

.normalText{
    font-size: 20px;    
}

.spanBlock{
    padding-left: 20px;
    display: block;
}

.inlineSpan{
    display: inline;    
}

.spanFlex{
    display: flex;
    font-size: 0.6rem;
}

.spanItalic{
    font-style: italic;
    color: #777;    
    font-family: "Courier new";
}

#blob{
    height: 150px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, var(--bg4), var(--bg3), var(--bg5));        
    animation: rotate 20s infinite;
    filter: blur(90px);
    z-index: -100;
}

@keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }
/*
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
  
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
*/
nav{
    width: 100%;        
    position: fixed;
    top: 0;        
    z-index: 1000;
}

.nav__content{
    display: flex;    
    justify-content: space-between;
    padding: 20px;
}

nav a{
    text-decoration: none;
}

.nav__logo{
    text-decoration: none;    
    font-family: caveat;
    font-size: 1.5rem;
}

.nav__items a {
    color: #fff;
    text-decoration: none;    
    display: inline-block;
    padding: 0 20px;
    position: relative;
  }
  .nav__items :after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .nav__items :hover:after { 
    width: 100%; 
    left: 0; 
  }


section{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    align-content: center;
    overflow: hidden;
}

#principal{
    display: flex;
}

.primero{
    width: 50%;
}

.segundo{        
    overflow: hidden;
    display: grid;
    place-content: center;
    width: 50%;
    margin: 0 auto;    
    margin-right: 5%;
    border: 5px solid black;
    background: var(--bg1);
    height: 75%;
    border-radius: 30% 70% 70% 30% / 28% 30% 70% 72% ;
}

iframe{
    width: 100%;
    height: 100%;
}

.main_text{
    margin-left: 5%;   
    font-size: 4vh;    
}
/* 
.main_text p:nth-child(2){
    display: inline-block;
    margin-right: 10px;
} */

.main_text p{
    margin-left: 10%;
}

.title{    
    /* display: inline-block; */
    height: min-content;          
    display: inline;    
}

.title_name{
    margin-left: 10%;
}

/* galery */
#about{
    position: relative;
}

.about__text{    
    position: absolute;
    left: 5%;
    top: 15%;
    width: 50%;
}

.about__text h5,
.about__text p{
    margin-left: 5%;
}

.about__text p{
  display: block;  
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 35%;
    top: 70%;
    transform: translate(0%, -50%); 
    user-select: none; /* -- Prevent image highlighting -- */
  }
  
  #image-track div:last-child{
    align-items: end;
  }

  #image-track > .image {
    width: 30vmin;
    height: 40vmin;
    object-fit: cover;
    object-position: 100% center;
    border-radius: 20px;
  }
  
  #image-track div:first-child span:nth-child(2){
    margin-right: 5px;
  }

/* skills */

#skills{    
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

.card_skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 850px;    
    gap: 20px;
    max-height: 550px;
    border: 5px solid white;
}


#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;  
    width: 50%;
    height: 50%;    
    align-items: center;    
    justify-content: center;    
  }

  #cards:hover > .card::after {
    opacity: 1;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 50%;    
    position: relative;    
    width: 30%;  
  }
  
  .card:hover::before {
    opacity: 1;
  }
  
  .card::before,
  .card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }
  
  .card::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.1),
      transparent 40%
    );
    z-index: 3;
  }
  
  .card::after {  
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.2),
      transparent 40%
    );
    z-index: 1;
  }
  
  .card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
  }
    
  .card-image {
    align-items: center;
    display: flex;    
    justify-content: center;
    overflow: hidden;    
    height: 140px;
    width: 100%;
  }
  
.card-image img{
    height: 80%;
    width: 80%;
    object-fit: contain;
}

  .card-info-wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 0px 20px;
  }
  
  .card-info {
    align-items: flex-start;
    display: flex;
    gap: 10px;
  }
  
  .card-info > i {  
    font-size: 1em;
    height: 20px;
    line-height: 20px;
  }
  
  .card-info-title > h3 {
    font-size: 1.1em;
    line-height: 20px;
  }
  
  .card-info-title > h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85em;
    margin-top: 8px;
  }
  
  /* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */
  
  @media(max-width: 1000px) {

    #cards {    
      max-width: 1000px;
      padding: 10px 0px;
    }
    
    .card {
      flex-shrink: 1;
      width: calc(50% - 4px);
    }
  }
  
  @media(max-width: 500px) {
    .card {
      height: 180px;
    }
    
    .card-image {
      height: 80px;  
    }

    .card-info-wrapper {
      padding: 0px 10px;
    }
    
    .card-info > i { 
      font-size: 0.8em; 
    }
    
    .card-info-title > h3 {
      font-size: 0.9em;
    }
  
    .card-info-title > h4 {
      font-size: 0.8em;
      margin-top: 4px;
    }
  }
  
  @media(max-width: 320px) {
    .card {
      width: 90%;
    }
  }
  
  /* skills_text */

.skills_text{
    /* position: absolute;
    left: 5%;
    top: 10%;
    width: 50%; */
    display: block;  
    width: 90%;   
}

#projects{
  display: flex;  
  align-items: center;  
  justify-content: center;    
}

.projects-container{
  height: 60%;
  width: 60%;  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;  
  overflow: hidden;
}

.box{    
  width: 30%;
  height: 45%;      
  position: relative;
  transition: .3s;
  margin: 5px;
  z-index: 1000;  
}

.box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10000;
}

.box_text{  
  position: absolute;  
  bottom: -45%;
  transition: .3s;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 100px;
  width: 100%;  
  background: linear-gradient(to top,rgb(4, 15, 51) 0%,rgba(8, 24, 82, 0.568) 50%, rgba(5,16,57,0) 100%);  
  visibility: hidden;  
}

.box:hover .box_text{
  bottom: 0;  
  visibility: visible;
  transition: .3s;
}

.box_text{
  padding: 20px;
}

.box_text p:first-child{
  font-size: 1.2rem;
  transition: .3s;
}

#experience{
  display: flex;  
  align-items: center;  
  justify-content: center;    
  flex-direction: column;  
  height: max-content;  
}

.experience_text{
  margin-top: 100px;  
  display: block;  
  width: 90%;     
}

.experience_container{
  width: 50%;    
  height: 50%;  
}

.experience_card{  
  display: flex;
  margin-bottom: 50px;
  padding-right: 30px;
}

.experience_card .date{
  width: 30%;
  text-align: center;
  font-size: 1.5rem;
}

.experience_card .description{
  border-left: 5px solid var(--bg4);
  padding-left: 30px;
  width: 70%;
}

.experience_card .description p:first-child{
  font-size: 1.5rem;
}

.experience_card .description p:nth-child(2){
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.contact{  
  padding-bottom: 300px;
  display: flex;
  width: 50%;
  margin: 0 auto;  
  justify-content: center;
}

.contact_title{
  padding: 50px;  
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.contact a{
  margin: 0 20px;  
  display: block;
  width: 50px;
  height: 50px;
}

.contact a img{
  height: 100%;
  width: 100%;
  object-fit: contain;  
}

/* scroll */

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: none;
	border-radius: 10px;
    transition: 1s all ease-in-out;
}

::-webkit-scrollbar
{
    transition: 1s all ease-in-out;
	width: 10px;
	background-color: none;
}

::-webkit-scrollbar-thumb
{
    transition: 1s all ease-in-out;
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

@media (max-width: 768px) {
  section{
    height: max-content;
  }
  .about__text p{
    display: block;
    width: 150%;  
  }  
}

@media (min-width: 769px) and (max-width: 1024px) {
  body {
    background-color: black;
  }
}

@media (min-width: 1025px)  and (max-width: 1224px) {
  .about__text p{
    display: block;
    width: 150%;  
  }
  
}